  settings:
    mode: PASSTHROUGH
    proxy:
      baseUrl:   http://esbwsint:80

  endpoints:
    - id: health-check
      priority: 10
      request:
        protocol: http
        method: GET
        path: /health
      response:
        type: mock
        status: 200
        body: "OK!"

